################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs 
/.vs/
/ToolBox.Test/obj/
/ToolBox.Cmd/obj/
/ToolBox.Common/obj/
/ToolBox.DateTime/obj/
/ToolBox.Files/obj/
/ToolBox.Ftp/obj/
/ToolBox.Http/obj/
/ToolBox.Json/obj/
/ToolBox.Object/obj/
/ToolBox.Process/obj/
/ToolBox.Reflection/obj/
/ToolBox.Security/obj/
/ToolBox.Socket/obj/
/ToolBox.String/obj/
/ToolBox.Test/bin/
/ToolBox.Cmd/bin/
/ToolBox.Common/bin/
/ToolBox.DateTime/bin/
/ToolBox.Files/bin/
/ToolBox.Ftp/bin/
/ToolBox.Http/bin/
/ToolBox.Json/bin/
/ToolBox.Object/bin/
/ToolBox.Process/bin/
/ToolBox.Reflection/bin/
/ToolBox.Security/bin/
/ToolBox.Socket/bin/
/ToolBox.String/bin/
.vs/
ToolBox.Test/obj/
ToolBox.Cmd/obj/
ToolBox.Common/obj/
ToolBox.DateTime/obj/
ToolBox.Files/obj/
ToolBox.Ftp/obj/
ToolBox.Http/obj/
ToolBox.Json/obj/
ToolBox.Object/obj/
ToolBox.Process/obj/
ToolBox.Reflection/obj/
ToolBox.Security/obj/
ToolBox.Socket/obj/
ToolBox.String/obj/
ToolBox.Test/bin/
ToolBox.Cmd/bin/
ToolBox.Common/bin/
ToolBox.DateTime/bin/
ToolBox.Files/bin/
ToolBox.Ftp/bin/
ToolBox.Http/bin/
ToolBox.Json/bin/
ToolBox.Object/bin/
ToolBox.Process/bin/
ToolBox.Reflection/bin/
ToolBox.Security/bin/
ToolBox.Socket/bin/
ToolBox.String/bin/